/* Reseteo CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #ccd5ae;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 500px 1000px 0.1fr;
    grid-template-areas:
    "header header"
    "titulo titulo"
    "texto  texto"
    "datos datos"
    "pie pie";
}
.menu{
    grid-area: header;
}
.titulo_principal{
    grid-area: titulo;
    width: 100%;
}
.intro{
    grid-area: texto;
    width: 100%;
    display: flex;
}
.info{
    grid-area: datos;
    width: 100%;
}


.footer{
    grid-area: pie;
    background-color: #344e41;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;

}

/* Menú */
.menu{
    /*background-color: #a3b18a;*/
    background: rgb(112,150,104);
    background: linear-gradient(47deg, rgba(112,150,104,1) 0%, rgba(39,170,39,1) 40%, rgba(163,177,138,1) 100%);
    height: 150px;
    width: 100%;
}

.imagen_logo{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width: 150px;
    height: 150px;
}

.txt_menu{
    display: flex;
    flex-basis: 50%;
}

.txt_menu ul{
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    
    }

.txt_menu li{
    display: flex;
    margin: 50px;
}
.txt_menu a{
    text-decoration: none;
    color: white;
}

.txt_menu a:hover{
    color:#12330a ;
    
}

/* Footer*/

.footer img{
    padding: 20px;
}
.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 50px;
}
.whatsapp img{
    width: 80px;
}
/*Main*/
a{
    text-decoration: none;
}

.titulo_principal{
    background-image:url(../multimedia/mariposas.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    font-family: 'Merienda', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
}
.subtitulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.parrafo{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 30px;
    margin: 10px;
    text-align:justify;
}


.titulo_principal img{
    object-fit: cover;
    padding: 30px;
    float: left;
    width:1fr;
}
.imgPrincipal{
    isplay: flex;
    width: 500px;
    padding: 30px;
}
.imgSecundaria{
    display: flex;
    width: 300px;
    float:right;
    padding: 50px;
    border-radius: 50%;
}
.elemento{
    padding: 50px;
}

.elemento ul li {
    list-style-type:none;
    text-align: center;

}

/* La Finca*/
.contenedor_finca{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 300px 150px 800px 0.1fr;
    grid-template-areas:
    "header header"
    "titulo titulo"
    "galeria galeria"
    "datos datos"
    "mapa mapa"
    "pie pie";
}
.menu{
    grid-area: header;
}
.titulo_principal{
    grid-area: titulo;
    width: 100%;
}
.fotos{
    grid-area: galeria;
    display: flex;
}
.info{
    grid-area: datos;
    width: 100%;
}
.googleMaps{
    grid-area: mapa;
}

.footer{
    grid-area: pie;
    background-color: #344e41;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;

}

.fotos{
    margin-left: 60px;
}
.fotos img{
    width: 400px;
    height: 350px;
    padding: 10px;
}

.googleMaps{
    text-align: center;
}

.tabla{
    border-collapse: collapse;
    margin: 25px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #344e41;
    margin-left: 500px;
}

.tabla tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
}
    
.tabla th, .tabla td{
    padding: 12px 15px;
}

.formulario{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0 auto; 
    width: 350px;
    padding: 10px;
}
input, textarea {
    padding: 5px; 
}

label {
    display: block; 
    padding: 5px; 
}

