.footer{
    background-color: #344e41;
    color: white;
    font-family: $fuentePrincipal;
    font-size: 14px;
    text-align: center;
    
}
/* Redes Sociales */
.fa {
    
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    &:hover {
        opacity: 0.7;
        color: rgba(54, 230, 14, 0.712);
    }
}
.fa-facebook {
    color: $colorRedes;
}
.fa-google {
    @extend .fa-facebook;
}
.fa-instagram {
    @extend .fa-facebook;
}

.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 50px;
    img{
        width: 40px;
    }
}
