.form-horizontal{
    font-family: $fuentePrincipal;
    color: #11171c89;
    font-size: 27px;
    padding: 10px;
    margin-left: 300px;
}

.bigicon {
    font-size: 35px;
    color: #0f1011c5;
}
.btn{
    background-color: rgb(19, 12, 12);
    border: black;
}