.tabla{
    border-collapse: collapse;
    margin: 25px 0;
    font-family: $fuentePrincipal;
    font-size: 20px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px #344e41;
    margin-left: 400px;
    tr{
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
        border-bottom: 1px solid #dddddd;
        th, td{
            padding: 12px 15px;
        }
    }
    
}
